<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1 {
            margin-left: 10px;
            color: #333;
            margin-top: 40px;
        }
        h2 {
            color: #008080;
            margin-top: 30px;
        }
        p {
            margin: 20px;
            font-size: 18px;
            line-height: 1.6;
            color: #333;
        }
        .services-container {
            margin: 20px;
        }
        .service {
            display: flex;
            margin-bottom: 20px;
        }
        .service img {
            max-width: 150px;
            margin-right: 20px;
        }
        .service-content {
            flex: 1;
        }
        .service h3 {
            color: #333;
            margin-top: 0;
        }
        .service p {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <%- include('navbar') %>
    <h1>our Services</h1>
    <div class="services-container">
        <div class="service">
            <div class="service-content">
                <h3>Custom Website Application Development</h3>
                <p>From creating simple web pages to complex solutions, our team has experience developing the best solutions. We use the latest tools and technologies to ensure industry-leading custom website application development services. Be the next market leader and let your business website or application grab the users' attention at a glance.</p>
            </div>
        </div>
        <div class="service">
            <div class="service-content">
                <h3>Custom Web Development Consulting</h3>
                <p>If you have an idea to develop a custom website and need professional assistance to execute it, we can help. Our team will help you evaluate your business goals and requirements while ensuring project feasibility and success. Seek our web development consulting services and turn your small business idea into a successful opportunity.</p>
            </div>
        </div>
        <div class="service">
            <div class="service-content">
                <h3>Custom Frontend Development</h3>
                <p>Our customized frontend web development solutions are tailor-made and are exceptionally easy to maintain. Dev Technosys has a team of dedicated frontend developers who create outstanding custom web development solutions. Begin your online journey with the assistance of one of the top custom web development companies in USA.</p>
            </div>
        </div>
    </div>
</body>
</html>